.background-image {
  background: url(https://www.pngkey.com/png/detail/65-650095_of-blog-background-and-cloud-png-back-is.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.search-lable-container {
  max-width: 850px !important;
  margin: 0 auto;
  padding: 0 20px;
}
.icon-position {
  position: absolute;
  top: 5px;
  right: 5px;
  margin: 10px;
}
/* table design */
table {
  max-width: 950px !important;
  border-collapse: collapse !important;
  margin: 20px auto !important;
  font-size: 16x;
}

tr:nth-of-type(odd) {
  background: #eee;
}
tr:nth-of-type(even) {
  background: white;
}

th {
  background: #3498db;
  background-color: teal;
  color: white;
  font-weight: bold;
}

td,
th {
  padding: 12px 20px;
  border: 1px solid #ccc;
  font-size: 14px;
  text-align: center;
}
.text-align-center {
  text-align: center;
}
.menu-background {
  background-color: white;
}
.pagination-component-wrapper {
  margin: 30px 0px 40px 0px;
}
.modal_container {
  max-width: 550px;
  margin: 0 auto;
}
.flex {
  display: flex;
  flex-wrap: wrap;

  justify-content: space-evenly;
  align-items: center;
}
.responsive_image_container {
  object-fit: cover;
}
.grid_margin {
  margin: 30px 10px !important;
}
.launch_information_wrapper {
  max-width: 600px;
  margin: 0px auto;
  padding: 5px 3px 5px 2px;
}
.launch_information_wrapper .flex {
  padding: 4px 0px;
  margin-bottom: 2px;
}
.title {
  width: 25%;
}
.detail {
  width: 70%;
}
.detail .description {
  text-align: left;
  margin-left: 10px;
  margin-bottom: 3px;
  line-height: 1.1;
  font-size: 15px;
}
.title .field {
  text-align: right;
  margin-right: 10px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2;
  text-transform: capitalize;
}
.modal_link_wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}
.modal_link_wrapper a {
  margin-left: 8px;
  color: black;
}
.flex-nav {
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: space-evenly !important;
  align-items: center;
}
.filter-inputs-extra-margin {
  margin: 10px 15px;
}
.filter-inputs-font-style {
  font-weight: 600;
  font-size: 14px !important;
}
.react-datepicker-popper {
  z-index: 3 !important;
}
.loader-segemnt {
  height: 400px;
  background-color: #d6e0e7;
  /* height: "400px", backgroundColor: "" }} */
}
@media only screen and (max-width: 700px) {
  .title {
    width: 30%;
  }
  .detail {
    width: 65%;
  }
  .mobile_view_hidden {
    display: none !important;
  }
}

@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  table {
    width: 100%;
  }

  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid #ccc;
    background-color: teal;
  }

  td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    position: absolute;

    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;

    content: attr(data-column);

    color: #000;
    font-weight: bold;
  }
}
